.Home_Footer {
  width: 70%;
  margin: auto;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.React_Icon {
  height: 7rem;
  width: 3vmax;
}
.Footer_hrLine {
  width: 80%;
  margin: auto;
  margin-top: 3rem;
}
@media screen and (max-width: 480px) {
  .Footer_hrLine {
    width: 80%;
    margin: auto;
    margin-top: 5rem;
  }
  .React_Icon {
    height: 5rem;
    width: 5vmax;
  }
}
