.Slider {
  width: 95%;
  margin: auto;
  border: 4px solid whitesmoke;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.slider_img {
  width: 100%;
  height: 500px;
  object-fit: fill;
  /* image-resolution: from-image; */
}

@media screen and (max-width: 600px) {
  .slider_img {
    width: 100%;
    height: 200px;
    object-fit: fill;
    /* image-resolution: from-image; */
  }
}
